@import "bourbon";
@import "neat";

$logo-size: 60px;
$searchZ: 10;
$red: #AD2F2F;
$blue: #52B6D2;

@mixin bp ($size) {
    @media (max-width: $size) { @content; }
}

body {
    background-color: #aaa;
}

#search {
    position: absolute;
    overflow: auto;
    top: 0px; left: 0px;
    z-index: $searchZ;
    width: 100%;
    padding: 30px;
}

#search-wrapper {
    position: relative;
    width: 100%; height: 100%;
    @include display(flex);
}

@mixin drawer() {
    position: absolute;
    top: 40px; right: 0px;
    background: rgba(0,0,0,0.9);
    width: 400px; height: auto;
    display: none;
    p {
        color: #fff;
        padding: 20px;
    }
    &.active {
        display: block;
    }
    h4 {
        padding: 10px 20px;
        margin: 0px;
        color: #fff;
        @include linear-gradient(to bottom, #111, #222);
        img {
            max-height: 17px;
            max-width: 17px;
            margin-right: 10px;
            vertical-align: middle;
        }
    }
}

#queue-wrapper {
    position: fixed; 
    top: 30px; right: 80px;
    z-index: $searchZ + 1;
    #queue-button {
        width: 40px; height: 40px;
        background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/166133/queue.svg") center center no-repeat #000;
        background-size: 20px;
        position: absolute;
        top: 0; right: 0;
    }
    #queue-drawer {
       @include drawer();
    }
}

#favorites-wrapper {
    position: fixed; 
    top: 30px; right: 130px;
    z-index: $searchZ + 1;
    #favorites-button {
        width: 40px; height: 40px;
        background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/166133/star.svg") center center no-repeat #000;
        background-size: 20px;
        position: absolute;
        top: 0; right: 0;
    }
    #favorites-drawer {
         @include drawer();
    }
}

#settings-wrapper {
    position: fixed;
    top: 30px; right: 30px;
    z-index: 10;
    #settings-drawer {
        @include drawer();
    }
}

#settings-button {
    position: absolute;
    top: 0px; right: 0px;
    background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/166133/gear-icon-white.svg") center center no-repeat #000;
    background-size: 18px;
    height: 40px; width: 40px;
}

#main-logo {
    background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/166133/stratus_logo.svg") center center no-repeat #000;
    background-size: 40px;
    width: $logo-size; height: $logo-size;
    color: #fff;
}

#search-input {
    margin-left: $logo-size;
    height: $logo-size;
    width: 200px;
    padding: 0px;
    margin: 0px;
    border: none;
    background: #333;
    padding: 0px 15px;
    color: #ccc;
    @include transition(all ease 0.5s);
    &.active {
       width: 100%;
    }
}

#search-results {
    width: 100%; 
    height: calc(100% - 300px);
    background: rgba(#000, 0.96);
    padding: 20px;
    z-index: -1;
    display: none;
    overflow: auto;
    position: relative;
    @include flex-wrap(wrap);
    @include align-items(stretch); 
    @include transition(all ease 0.5s);
    &.active {
        @include display(flex);
    }
    header {
        background: #000;
        color: #fff;
        display: block;
        width: 100%;
        padding: 20px;
    }
    .track-tile {
        color: #fff;
        padding: 25px;
        position: relative;
        display: inline-block;
        width: 16.666%;
        @include display(flex);
        @include align-items(stretch);
        @include bp(1400px) {
            width: 20%;
            padding: 20px;
        }
        @include bp(1200px) {
            width: 25%;
            padding: 15px;
        }
        @include bp(1000px) {
            width: 33.333%;
            padding: 10px;
        }
        @include bp(750px) {
            width: 50%;
        }
        @include bp(450px) {
            padding: 5px; 
            width: 100%;
        }
        .info-block {
          width: 100%; 
          position: relative;
          background: #222;
          overflow: hidden;
            .album-art {
                width: 100%;
                height: auto;
                margin: 0px;
                position: relative;
                overflow: hidden;
                .tile-overlay {
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    background: rgba(0,0,0,0.9);
                    top: 0; left: 0;
                    z-index: 0;
                    @include transform(translateY(100%));
                    @include transition(all ease 0.33s);
                    @include display(flex);
                    @include align-items(center);
                    @include justify-content(center);
                    &.active {
                       @include transform(translateY(0%));
                    }
                    .play {
                        height: 75px; width: 75px;
                        cursor: pointer;
                        background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/166133/play_btn_gradient.svg") no-repeat center center;
                        background-size: 75px;
                        @include display(flex);
                        @include align-items(center);
                        @include justify-content(center);
                        &:hover {
                            background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/166133/play_btn_gradient_mo.svg") no-repeat center center;
                            background-size: 75px;
                        }
                        img {
                            width: 75px;
                            height: 75px;
                        }   
                    }
                    .toolbelt {
                        position: absolute;
                        top: 0px; left: 0px;
                        padding: 10px;
                        width: auto; height: auto;
                        img {
                            width: 20px; height: 20px;
                            display: inline-block;
                        }
                        .add-to-favorites {
                            padding: 6px;
                            cursor: pointer;
                            &:hover {
                                background: #000;
                            }
                        }
                        .add-to-queue {
                            padding: 6px;
                            cursor: pointer;
                            &:hover {
                                background: #000;
                            }
                        }
                    }
                }
                img {
                    width: 100%;
                }
            }
            .title {
                padding: 20px;
                margin: 0px;
                background: #000;
                font-size: 0.9em;
                position: relative;
                z-index: 1;
                color: #eee;
            }
            .user {
                padding: 10px 20px;
                margin: 0px;
                font-weight: 700;
                color: #aaa;
                font-size: 0.75em;
                letter-spacing: 2px;
                position: relative;
                z-index: 1;
            }
            
        }
    }
    #close-search {
        position: absolute;
        top: 0; right: 0;
        background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/166133/close-white.svg") center center no-repeat $red;
        width: 30px; height: 30px;
        background-size: 9px;
        &:hover {
            background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/166133/close-white.svg") center center no-repeat darken($red, 10%);
            background-size: 9px;
        }
    }
}

#back-btn {
    background: url("images/back_btn.svg") center center no-repeat #000;
    background-size: 12px;
    height: 50px;
    width: 50px;
    position: fixed;
    top: 0; left: 0;
    z-index: 9;
    line-height: 50px;
    color: #fff;
}

#loading {
    background: rgba(0,0,0,0.8);
    background-size: 40px;
    position: fixed;
    top: 0; left: 0;
    height: 100%; width: 100%;
    z-index: 9;
    color: #fff;
    padding: 20px;
    
}

#settings-drawer ul {
    padding: 20px;
    list-style: none;
}

#settings-drawer ul li {
    padding: 0px 10px;
    display: inline-block;
    color: #fff;
    font-size: 0.8em;
    font-weight: 700;
    border-radius: 8px;
    margin-right: 5px;
    background: rgba(0,0,0,0.9);
}

#blue-freq-bars {
    color: #000 !important;
    background: #52B6D2 !important;
}

#white-freq-bars {
    color: #000 !important;
    background: rgba(255,255,255,0.9) !important;
}

#black-freq-bars {
    color: #fff !important;
    background: rgba(0,0,0,0.9) !important;
}


#settings-drawer ul .title {
    color: #fff;
    font-size: 1.2em;
    color: #aaa;
    display: block;
    padding: 0px 0px 20px;
}


#current-time {
    color: #fff;
    font-size: 0.7em;
    line-height: 55px;
    padding: 0px 0px 0px 10px;
    color: #777;
}

#duration {
    color: #fff;
    font-size: 0.7em;
    line-height: 55px;
    padding: 0px 10px 0px 0px;
    color: #777;
}

#album-art {
    position: fixed;
    top: 0; left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url('http://pre09.deviantart.net/fd6a/th/pre/i/2010/155/c/0/cd_covers_collage_by_robcoxxy.png');
    transition: all ease 0.1s;
    -webkit-transition: all ease 0.1s;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
}


#song-info {
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    -webkit-flex-direction: column;
    padding: 0px 15px;
    font-size: 0.8em;
    font-family: 'Proxima Nova';
}


#song-title {
    color: #fff;
    overflow: hidden;
    white-space: nowrap;
    padding: 7px;
    background: rgba(255,255,255,0.2);
    border-radius: 0px 0px 5px 5px;
    font-size: 1.2em;
}

#song-user {
    color: #999;
    display: block;
    overflow: hidden;
    white-space: nowrap;
    padding: 5px;
    font-weight: 700;
    letter-spacing: 0.075em;
}

#controls {
    background: #000;
    position: fixed;
    bottom: 0; left: 0;
    height: 55px;
    width: 100%;
    display: flex;
    z-index: 25;
}


#play {
    background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/166133/play_btn.svg") 55% 45% no-repeat;
    background-size: 55px;
    height: 55px; width: 55px;
    margin-left: 20px;
    margin-top: -10px;
    display: inline-block;
    cursor: pointer;
    border-radius: 50%;
}

#play:hover {
    background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/166133/play_btn_mo.svg") 55% 45% no-repeat;
    background-size: 55px; 
}

#pause {
    background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/166133/pause_btn.svg") 55% 45% no-repeat;
    background-size: 55px;
    height: 55px; width: 55px;
    margin-left: 20px;
    margin-top: -10px;
    display: none;
    cursor: pointer;
    border-radius: 50%;
}

#pause:hover {
    background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/166133/pause_btn_mo.svg") 55% 45% no-repeat;
    background-size: 55px; 
}

#thumbnail-art {
    height: 65px;
    width: 65px;
    margin-top: -20px;
    margin-right: 20px;
    background-image: url('https://i1.sndcdn.com/artworks-000120037955-m8t78n-t500x500.jpg.jpg');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    border: solid 2px #fff;
    box-shadow: 0px 0px 2px rgba(0,0,0,0.3);
}

#graph {
    position: fixed;
    bottom: 45px;
    left: 0;
    pointer-events: none;
    z-index: $searchZ + 1;
}


/* Range input */
input[type=range] {
  -webkit-appearance: none;
  margin: 18px 15px;
  flex: 1;
  background: none;
}
input[type=range]:focus {
  outline: none;
}

/* Webkit */
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 1px;
  cursor: pointer;
  animation-duration: 0.2s;
  transition: all ease 0.2s;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #52B6D2;
  transition: height 0.2s;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: #ffffff;
  cursor: pointer;
  animation-duration: 0.2s;
  transition: all ease 0.2s;
  -webkit-appearance: none;
  margin-top: -7px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #52B6D2;
  height: 4px;
}

/* Firefox */
input[type=range]::-moz-range-track {
  width: 100%;
  height: 1px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #52B6D2;
  transition: height 0.2s;
}
input[type=range]::-moz-range-thumb {
box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: #ffffff;
  cursor: pointer;
  margin-top: -7px;
}




.loading {
  list-style: none;
  width: 270px;
  height: 300px;
  li {
    $ballSize: 5px;
    border-radius: 200%;
    display: inline-block;
    height: $ballSize; width: $ballSize;
    background: #aaa;
    margin: auto 5px;
    // I know this is kinda ridiculous haha.
    // I'll probably try my hand at redoing in canvas... Hmm
    @for $i from 1 through 22 {
        &:nth-child(#{$i}) {
         @include animation(loadingBalls 2s infinite);
         @include animation-delay(0.1s * $i );
        }
     }
  }
}

@include keyframes(loadingBalls) {
  0% {
    @include transform(scale(1) translateY(10px));
    background: lighten($blue, 25%);
  }
  50% {
    @include transform(scale(1.25) translateY(-35px));
    background: #blue;
  }
  100% {
    @include transform(scale(1) translateY(10px));
    background: lighten($blue, 25%);
  }
}